body {
  background-color: black;
  margin: 0;
  padding: 20px 400px;
  color: beige;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
}

.app-title {
  font-size: 50px;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
}

.grid-center {
  display: grid;
  place-content: center;
}

.grid-center-col1 {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
}

.block {
  display: block;
}

.ml-auto {
  margin-left: auto;
}

.mr-15 {
  margin-right: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15;
}

.login-btn {
  padding: 5px 10px;
  background-color: antiquewhite;
  border-radius: 5px;
  font-weight: 600;
}

.hidden {
  display: none;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-full {
  width: 100%;
}

.w-300 {
  width: 300px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}
